/* Base Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans HK', sans-serif;
  color: #3a3a3a;
  text-align: center;
  line-height: 1.6em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color:  #3a3a3a;
}

/* Main Content */

nav a {
  display: block;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 10px;
  background-color: white;
}

nav a,
.portfolio-heading,
.main-footer h2, 
.to-top,
.main-footer ul {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bolder;
}

header,
footer {
  background-color: rgb(247, 247, 247);
}

.main-heading {
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 10px;
}

.banner {
  padding-top: 2em;
  padding-bottom: 1em;
}

.banner img {
  width: 70%;
}

.portfolio-heading {
  padding-top: 2em;
  padding-bottom: 2em; 
}

.project h2 {
  font-weight: lighter;
  padding-top: .5em;
  font-size: 1.5em;
}

.project {
  padding-bottom: 1em;
}

nav,
.banner,
.project, 
.main-footer {
  padding-left: 1em;
  padding-right: 1em;
}

main {
  padding-bottom: 1em;
}

/* Footer Styles */

.main-footer address {
  display: block;
  padding-top: .5em;
  padding-bottom: .5em;
  font-style: normal;
}

.main-footer {
  padding-top: 1em;
}

.main-footer h3 {
  float: left;
}

.to-top, 
.main-footer ul {
  float: right;
  padding-top: 1.3em;
}

.main-footer ul {
  display: none;
}

.contact-info {
  padding-bottom: 4em;
  padding-top: 2em;
}

.contact-info h2 {
  padding-bottom: 1em;
}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  
  .main-heading {
    margin-bottom: 0;
  }
  
  nav li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
  }

  nav a {
    background-color: rgb(247, 247, 247);
  }

  .banner {
    padding-bottom: 3em;
  }
  
  .banner img {
    width: 40%;
    float: right;
    padding-right: 1em;
  }

  .banner p {
    width: 60%;
    float: left;
    margin-top: 0;
    padding-right: 1em;
    padding-left: 1em;
    text-align: left;
  }

  .project {
    width: 50%;
    float: left;
    padding-bottom: 2em;
  }

  .project p {
    min-height: 77px;
  }
  
  .contact-info p {
    padding-left: 9em;
    padding-right: 9em;
  }
  
  .main-footer {
    padding-bottom: 2em;
  }
  
  .to-top {
    display: none;
  }

  .main-footer ul {
    display: block;
  }

  .main-footer nav a {
    display: inline;
  }

}

@media (min-width: 1024px) {
  
  .banner {
    padding-bottom: 4em;
  }

  .banner img {
    padding-right: 2em;
  }

  .banner p {
    font-size: 1.5em;
    padding-right: 2em;
    padding-left: 2em;
  }
  
  .project {
    width: 33%;
    padding-bottom: 3em;
  }

  .contact-info p {
    padding-left: 17em;
    padding-right: 17em;
  }

  .main-nav {
    display: inline-block;
    padding-top: 1em;
  }
  
  .main-heading {
    float: left;
  }

  header nav {
    float: right;
    padding-top: 1em;
    padding-left: 27em;
  }
  
  .main-heading,
  header nav {
    margin-bottom: 0;
  }

}
